parameters:
    ignoreErrors:
        -
            message: '#Trait JeffersonGoncalves\\LaravelMail\\Traits\\HasMailLogs is used zero times and is not analysed#'
            path: src/Traits/HasMailLogs.php
